
body{
    background-color: #F3F5FC;
}
main{
    display: flex;
    width: 100%;
    
    justify-content: space-around;
}
.seccion1{
    display: flex;
    flex-direction: column;
}

.logo{
    width: 120px;
    height: 48px;
}
.contenedorcajatexto{
    width: auto;
}
.cajaTexto{
    width: 577px;
    height: 29rem;
    background-color: #F3F5FC;
    border: none;
    color: #0A3871;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    resize: none;
    outline: none;
}
.container-section{
    margin-top: 250px;
}
.mensaje{
    display: flex;
    gap: 10px;

}
.contenedor-botones{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.contenedor-botones input{
    display: flex;
    justify-content: space-around;
    width: 328px;
    padding: 24px;
    align-items: flex-start;
    border-radius: 24px;
}
.btn-encriptar{
    background:  #0A3871;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
}
.btn-desencriptar{
    border: 1px solid #0A3871;
    background: #D8DFE8;
    font-family: Inter;
    font-size: 16px;
}
.seccion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 944px;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.contenedor-parrafo{
    display: flex;
    flex-direction: column;
}
.contenedor-parrafo p:first-child{
    color:  #343A40;
    align-self: stretch;
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    
}
.contenedor-parrafo p:nth-child(2){
    color: var(--Gray-gray-400, #495057);
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}
.contenedor-copiar{
    display: none;
}


@media(max-width: 768px) {
    main{
        flex-direction: column;
        align-items: center;
    }
    .cajaTexto{
        width: 43rem;
        height: 10rem;
        color: var(--Dark-blue-dark-blue-300, #0A3871);
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    .mensaje{
        margin-top: inherit;
    }
    .contenedor-botones{
        gap: 1.5rem;
    }
    .contenedor-botones input{
        width: 20rem;
        height: 4rem;
    }
    
    .btn-desencriptar{
        font-size: 1rem;
    }
    .btn-encriptar{
        font-size: 1rem;
    }

    .seccion2{

        width: 43rem;
        height: 8rem;
        margin-top: 50px;
    }
    .contenedorMono{
        display: none;
    }

}
