body {
    
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;

}
.container{
    display: flex;
}
section {
    margin: 50px 2.5%;
    padding: 20px;
}

img {
    float: left;
    margin-right: 10px;
}

input {
    width: 36.0625rem;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

p {
    color: #888;
}
.container-btn{
    display: flex;
    flex-direction: row;
}

button {
    display: flex;
    width: 20.5rem;
    padding: 1.5rem;
    align-items: flex-start;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    justify-content: center;
    font-family: Inter;
    font-size: 1rem;
}

.btn-blue{
    background-color: #0A3871;
    color: #ffffff;
}

.btn-gray{
    background-color: #D8DFE8;
    color: #0A3871;
}

.second-section {
    width: 25rem;
    height: 59rem;
    flex-shrink: 0;
    max-width: 45%;
    margin: 50px 2.5%;
    background-color: #fff;
    padding: 20px;
    border-radius: 2rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.message-container {
    
    padding: 20px;
    margin-bottom: 20px;
}

.message-container img {
    width: 21rem;
    height: 19rem;
}

.dynamic-text {
    color: #888;
    margin-top: 10px;
}

.input-container {
    margin-top: 20px;
}

.input-container input {
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    min-height: 40px;
    overflow-y: hidden;
}